<footer class="page-footer white blue darken-4-text hide-on-large-only" style="bottom:0; position:fixed; height:8%;  width:100%;">
	<div class="container">
		<div class="center-align">
	        <div class="modal-trigger" data-target="modal1">
		        <a class="btn btn-small waves-effect waves-light blue darken-4">
		        	<i class="material-icons">search</i>
		        </a>
	        </div>
	    </div>
	<div>
	<!-- <div class="row">
		<div class="col s12 m10 l9 offset-l3">
			<form>
		        <div class="input-field">
		          	<input class="search rounded" type="search" id="search">
		          	<label for="search"><i class="material-icons" style="position: fixed;">search</i></label>
		        </div>
      		</form>
		</div>
	</div> -->	
</footer>